@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MAPA
$sections: (caracteristicas: 1rem, about: 1rem, servicios: 1rem, portfolio: 1rem, contacto: 1rem);
@each $section,
$margin in $sections {
    .main-#{$section} {
        margin: $margin;
    }
}

// ----------INICIO----------
.about-container {
    @include center;
    flex-direction: column;
    margin-top: 1rem;
}

.more {
    background: #333232;
    padding: 10px 20vw;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    text-align: center;
    transition: .2s;
    &:hover {
        background: black;
        color: white;
    }
}

.about {
    text-align: center;
    // animation: slide-in-right .5s;
    img {
        border-radius: 100%;
        width: 15rem;
        height: auto;
        max-width: 90%;
        margin: 1rem;
    }
    p {
        margin: 1rem;
    }
}

hr {
    margin: auto;
    display: flex;
    height: 2px;
    border: none;
    background-color: black;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.caracteristicas {
    text-align: center;
    p {
        font-size: 1.5rem;
    }
}

.main-caracteristicas {
    display: grid;
    justify-items: center;
    text-align: center;
}

.card {
    border-radius: 50px;
    transition: transform .2s, box-shadow .2s;
    margin-top: 1rem;
    img {
        border-radius: 50px 50px 0 0;
    }
    &:hover {
        border: none;
        transform: translate(0, -20px);
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
    }
}

// ----------SOBRE-MI----------
.main-about {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    img {
        grid-area: 1 / 1 / 3 / 2;
        border-radius: 100%;
        width: 15rem;
        height: 15rem;
        margin-left: 1rem;
    }
    h1 {
        grid-area: 1 / 2 / 2 / 3;
        margin: 1rem;
    }
    p {
        grid-area: 2 / 2 / 3 / 3;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.inspiraciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    h4 {
        font-size: 1.5rem;
    }
}

.inspiraciones-item {
    @extend .inspiraciones;
    margin: 1rem;
}

// ----------SERVICIOS----------
.servicios {
    min-height: 90vh;
}

.main-servicios {
    display: grid;
    justify-items: center;
    text-align: center;
    // animation: slide-in-right .5s;
    p {
        font-size: 1.5rem;
        margin: 1rem;
    }
}

// ----------PORTFOLIO----------
.main-portfolio {
    h2 {
        margin: 1rem;
        font-size: 2rem;
        // animation: slide-in-right .5s;
    }
    @include center;
    min-height: 100vh;
    flex-direction: column;
}

.grid-element {
    @include center;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin: 1rem;
    &:hover {
        .grid-btn {
            opacity: 1;
        }
    }
    >img {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
    }
}

.grid-btn {
    @include center;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
}

.element-title-mobile {
    font-weight: 700;
    margin-bottom: .5rem;
}

.element-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    display: none;
}

// -----------CONTACTO---------
.main-contacto {
    h2 {
        font-size: 2rem;
        margin: 1rem;
        // animation: slide-in-right .5s;
    }
    p {
        margin: 1rem;
    }
}

.contact-btn {
    background-color: $main-color;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #282828;
    }
}

.form-contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2rem;
}