// --------VARIABLES----------
$main-color: #111111;
// ---------IMPORTS---------
@import "navbar";
@import "sections";
@import "footer";
@import "media";
// -------ESTILO GENERAL-------
// ----------KEYFRAMES---------
@mixin keyframes($slide-in-right) {
    @-webkit-keyframes #{$slide-in-right} {
        @content;
    }
    @-moz-keyframes #{$slide-in-right} {
        @content;
    }
    @-ms-keyframes #{$slide-in-right} {
        @content;
    }
    @-o-keyframes #{$slide-in-right} {
        @content;
    }
    @keyframes #{$slide-in-right} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(slide-in-right) {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@mixin keyframes($slide-in-left) {
    @-webkit-keyframes #{$slide-in-left} {
        @content;
    }
    @-moz-keyframes #{$slide-in-left} {
        @content;
    }
    @-ms-keyframes #{$slide-in-left} {
        @content;
    }
    @-o-keyframes #{$slide-in-left} {
        @content;
    }
    @keyframes #{$slide-in-left} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(slide-in-left) {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slide-in-right {
    animation: slide-in-right .5s;
}

.slide-in-left {
    animation: slide-in-left .5s;
}

// -------ESTILO GLOBAL---------
* {
    font-family: 'Arvo', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: #578bde;
}

 ::selection {
    color: white;
    background: #578bde;
}

a {
    color: black;
}

body {
    overflow: overlay;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}