/* ------------ESTILO GENERAL--------- */

* {
    font-family: 'Arvo', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    color: black;
}

body {
    overflow: overlay;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ----ESTILO GENERAL IMAGENES---- */

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* --------------SCROLL----------- */

::-webkit-scrollbar {
    background: transparent;
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

 ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.8);
}

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* -------------NAVBAR------------- */

.header {
    background-color: #111111;
    box-shadow: 1px 1px 5px 1px black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.logo {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

.main-navbar {
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: #111111;
    overflow: hidden;
}

.menu li {
    list-style: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item {
    display: block;
    position: relative;
    padding: 30px;
    color: white;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.main-navbar {
    max-height: 0;
    transition: all .5s ease-out;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 2rem 1rem;
}

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}


/* OCULTA CHECKBOX */

.side-menu {
    display: none;
}


/* ACTIVAR MENU */

.side-menu:checked~nav {
    max-height: 100vh;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}


/* ---------------(INICIO) SOBRE MI-------------- */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.more {
    background: #333232;
    padding: 10px 20vw;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 20px;
    text-align: center;
    transition: .2s;
}

.more:hover {
    background: black;
    color: white;
}

.about {
    text-align: center;
    animation: slide-in .5s;
}

.about img {
    border-radius: 100%;
    width: 15rem;
    height: auto;
    max-width: 90%;
    margin: 1rem;
}

.about p {
    margin: 1rem;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

hr {
    margin: auto;
    display: flex;
    height: 2px;
    border: none;
    background-color: black;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* -------------(INICIO) CARACTERÃSTICAS------------- */

.caracteristicas {
    text-align: center;
}

.main-caracteristicas {
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 1rem;
}

.caracteristicas p {
    font-size: 1.5rem;
}

.card {
    border-radius: 50px;
    transition: transform .2s, box-shadow .2s;
    margin-top: 1rem;
}

.card img {
    border-radius: 50px 50px 0 0;
}

.card:hover {
    border: none;
    transform: translate(0, -20px);
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
}


/* ---------------SOBRE MI------------ */

.main-about {
    margin: 1rem;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
}

.main-about img {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    margin-left: 1rem;
}

.main-about h1 {
    grid-area: 1 / 2 / 2 / 3;
}

.main-about p {
    grid-area: 2 / 2 / 3 / 3;
}

.main-about h1 {
    margin: 1rem;
}

.main-about p {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* --INSPIRACIONES-- */

.inspiraciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.inspiraciones h4 {
    font-size: 1.5rem;
}

.inspiraciones-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.inspiraciones-item img {
    margin: 1rem;
    border-radius: 100%;
}


/* --------------SERVICIOS------------- */

.main-servicios {
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 2rem;
    min-height: 90vh;
    animation: slide-in .5s;
}

.main-servicios h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

.servicios-img img {
    border-radius: 0 0 .75rem .75rem;
}


/* ---------------PORTFOLIO------------ */

.main-portfolio h2 {
    margin: 1rem;
    font-size: 2rem;
    animation: slide-in .5s;
}

.main-portfolio {
    margin: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 1rem;
}

.grid-element:hover .grid-btn {
    opacity: 1;
}

.grid-btn {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-element>img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.element-title-mobile {
    font-weight: 700;
    margin-bottom: .5rem;
}

.element-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    display: none;
}


/* ---------------CONTACTO------------ */

.main-contacto {
    margin: 1rem;
}

.main-contacto h2 {
    font-size: 2rem;
    margin: 1rem;
    animation: slide-in .5s;
}

.main-contacto p {
    margin: 1rem;
}

.contact-btn {
    background-color: #111111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #282828;
}

.form-contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2rem;
}


/* --------------FOOTER------------ */

.contactame {
    background-color: #111111;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contactame h2 {
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.icon-button {
    background-color: #282828;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button:hover .icon-facebook {
    color: white;
}

.facebook span {
    background-color: #3B5998;
}

.instagram span {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.github span {
    background-color: #111111;
}

.email span {
    background-color: #EB2222;
}


/* ---------------MEDIA QUERIES----------- */

@media (min-width: 768px) {
    /* --------NAVBAR------- */
    .header {
        position: inherit;
    }
    .main-navbar {
        max-height: none;
        float: right;
        width: fit-content;
    }
    .menu li {
        float: left;
    }
    .menu a {
        margin: 25px 30px 0 0;
        padding: 0;
    }
    .nav-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .hamb {
        display: none;
    }
    /* -------(INICIO) SOBRE MI------------- */
    .about img {
        grid-area: 1 / 1 / 3 / 2;
        margin-left: 1rem;
    }
    .about h1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .about p {
        grid-area: 2 / 2 / 3 / 3;
    }
    .more {
        white-space: nowrap;
    }
    /* ---------FOOTER-------- */
    .contactame {
        flex-direction: row;
    }
    .iconos {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    /* -------(INICIO) CARACTERISTICAS------ */
    .main-caracteristicas {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* ---------SERVICIOS-------- */
    .main-servicios {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    /* ---------PORTFOLIO-------- */
    .grid-btn {
        background: rgba(0, 0, 0, 0.9);
    }
    .element-title-mobile {
        display: none;
    }
    .element-title {
        display: block;
    }
}